{% extends 'base.html' %}

{% block title %}City Data Tree Dashboard{% endblock %}

{% block content %}
    <center>
    <h1>About Our Capstone Project</h1>
    <p style="font-size: 20px; margin: 100px;">The City Data Group is developing an interactive dashboard that highlights 
        reported tree hazards in New Orleans, the severity of each report, and provides precise locations of tree damage, 
        offering a clear and accessible view of the city's tree maintenance needs. Information is sourced from the 311 
        OPCD calls and Tree Location datasets from data.nola.gov. Our goal is to incorporate the Tree Location data to 
        show the nearest city-owned trees to the report. Additionally, we plan to improve interactivity by incorporating
        features that will allow residents to upload photos and comment on specific cases, with the goals of fostering 
        community engagement, improving data accuracy, and providing additional context. </p>
    <p style="font-size: 20px; margin: 50px; text-align: center;">
    Team Members: Zoe Birnbaum, Daniel Cicero, Cece Haase, Gabby Reese
</p>
<p style="font-size: 20px; margin: 50px; text-align: center;">
    Advisor: Dr. Nick Mattei
</p>
    </center>
{% endblock %}
