{% extends 'base.html' %}

{% block title %}City Data Tree Dashboard{% endblock %}

{% block content %}
    <center>
    <h1>About Our Capstone Project</h1>
    <p style="font-size: 20px; margin: 50px;">The City Data Group has developed an interactive dashboard that highlights reported tree hazards in New Orleans, displays the severity of each report, and provides precise locations of tree damage, offering a clear and accessible view of the city's tree maintenance needs. Information is sourced from the 311 call, Hurricane Francine, and New Orleans tree location datasets from data.nola.gov. To enhance accessible and accurate data on tree hazards public interaction has been incorporated allowing residents to upload photos and post comments on specific cases, fostering community engagement and improving data accuracy. </p>
    <p2 style="font-size: 20px; margin: 50px;">Team Members: Zoe Birnbaum, Daniel Cicero, Cece Haase, Gabby Reese </p2>
    </center>
{% endblock %}
