{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard-wrapper">
    <h1>City Data Tree Dashboard</h1>
    <div class="dashboard-container">
        <!-- Replace the src attribute with your dashboard's URL -->
        <div id="map-container">
            {{ plot_html|safe }}
        </div>
    </div>
</div>
<style>
    html, body{
        height: 100%;
        margin: 0;
        background-color: white;
    }
    .dashboard-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%; /* Full viewport height */
        margin: 0;
    }
    h1 {
        margin-bottom: 20px; /* Adds some space between the title and dashboard */
        font-size: 2em;
        color: #333;
    }
    .dashboard-container {
    width: 95%; /* Adjust as needed */
    max-width: 1200px;
    height: 85%; /* Adjust as needed */
    border: 2px solid #ccc; /* Thinner border */
    border-radius: 8px;
    padding: 5px;  /* Space around the map, ensuring buttons have room */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
    #map-container {
        width: 100%;
        height: 100%;
    }
    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
</style>
{% endblock %}

